.radioGroup {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.radioLabel {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.radioInput {
    margin-right: 15px;
    transform: scale(2.5);
    /* Makes radio slightly bigger */
    cursor: pointer;
    vertical-align: middle;
}