.playerList {
    list-style-type: none;
    padding-left: 0;
}

.playerItem {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.checkbox {
    transform: scale(1.4);
    margin-right: 8px;
    vertical-align: middle;
    cursor: pointer;
}

.deleteButton {
    margin-left: 10px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}

.radioGroup {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.radioLabel {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.radioInput {
    margin-right: 15px;
    transform: scale(2.5);
    /* Makes radio slightly bigger */
    cursor: pointer;
    vertical-align: middle;
}