.deleteButton {
    margin-left: 6px;
    color: red;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 14px;
}

.inputCell {
    width: 60px;
}

.controls {
    margin-top: 16px;
}

.buttonSpacing {
    margin-right: 10px;
}

.backButton {
    margin-left: 10px;
    margin-top: 20px;
}

.roundNameInput {
    width: 100px;
}